<html>
<head>
  <title>ALL-review</title>
  <style type="text/css">
  table { margin: auto; border-collapse: collapse; min-width: 30em; }
  table td { padding-right: 0.7em; padding-left: 0.3em; }
  table td:last-child { padding-right: 0.3em; }
  caption { font-size: x-large; font-family: sans-serif; font-weight: bold; }
  .odd { background-color: lavender; }
  .even { background-color: floralwhite; }
  .upload {
    background-color: bisque;
    text-align: center;
    font-size: larger;
  }
  </style>
</head>
<body>
<table>
  <caption>ALL-review: in-house peer reviews</caption>
  <tr><td colspan=4 class='upload'>
    <a href="/upload">Upload New Paper</a>
  </td></tr>
  <tr><th>Title</th><th>Author</th>
{% for i, paper in enumerate(papers) %}
  <tr class="{{'even' if i%2==0 else 'odd'}}">
    <td>{{escape(paper['title'])}}</td>
    {% if paper['anon'] %}
      <td><i>anonymous</i></td>
    {% else %}
      <td>{{escape(paper['author'])}}</td>
    {% end %}
    <td>
      <a href="/review?p={{paper['id']}}">(re)view</a>
      {% if paper['author'] == user %}
        <a href="/upload?p={{paper['id']}}">edit/delete</a>
      {% end %}
    </td>
  </tr>
{% end %}
</table>
</body>
</html>
