<html>
<head>
  <title>ALL-review</title>
  <style type="text/css">
  table { margin: auto; }
  .error { color: red; text-align: center; }
  input[type='submit'] { width: 100%; }
  </style>
</head>
<body>
{% if msg %}
<div class='error'>{{msg}}</div>
{% end %}
<form action="/login" method="post">
<table>
<tr><td>Username</td><td><input type='text' name='user' maxlength=48 /></td></tr>
<tr><td>Password</td><td><input type='password' name='pw' /></td></tr>
<tr><td colspan=2 style="text-align: center">&mdash; and, if signing up &mdash;</td></tr>
<tr><td>Display Name</td><td><input type='text' name='displayname' /></td></tr>
<tr><td>Email</td><td><input type='email' name='email' placeholder='optional' /></td></tr>
<tr><td colspan=2><input type="submit" value="Log in / Sign up" /></td>
</table>
<input type="hidden" value="{{next}}" name="next" />
</form>
</body>
</html>
