<html>
<head>
  <title>ALL-review</title>
  <style type="text/css">
  table { margin: auto; }
  .error { color: red; }
  input[type='text'] { width: 20em; }
  input[type='email'] { width: 20em; }
  input[type='submit'] { width: 100%; }
  </style>
</head>
<body>
<form action='/upload' method='post' enctype='multipart/form-data'>
<table>
<tr><th colspan=2>Upload a paper</th>
<tr><td>Title</td><td><input type='text' name='title' value='{{escape(title)}}'/></td></tr>
<tr><td>Author</td><td>{{escape(user)}}</td></tr>
<tr><td>Contact Email</td><td><input type='email' name='email' value='{{escape(email)}}' placeholder='optional' /></td></tr>
<tr><td>PDF</td><td><input type='file' name='file' /></td></tr>
<tr><td>Hide Author Name?</td><td><input type='checkbox' name='anonymous' {% if anon %}checked{% end %} /></td></tr>
<tr><td colspan=2>
  <input type='hidden' name='paper_id' value='{{paper_id}}'>
  <input type='submit' />
</td></tr>
<tr><td colspan=2><span class='error'>{{escape(error)}}</span></td></tr>
</table>
</form>
</body>
</html>